name: Release
on:
  push:
    branches:
      - master
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.CI_GITHUB_TOKEN }}

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1.7.1  

      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
        with:
          extra_plugins: |
            @semantic-release/exec
            @semantic-release/git
            semantic-release-pub

      - name: Setup Tailscale
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      
      - name: Push to dokku
        if: steps.semantic.outputs.new_release_published == 'true'
        run: tailscale ssh orn@asgard dokku git:sync --build navis-push-worker https://github.com/SlayerOrnstein/navis-push-worker.git
